/*generelt*/
body {
    margin: 0;
    padding: 0;
    background: white;
}

img {
    width: 100%;
}

h1 {

    font-family: 'Shadows Into Light Two', cursive;
    color: black;
    font-weight: 200;
    font-size: 2rem;
}

h2 {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #4D4C4C;
    font-weight: 100;
    font-size: 1.5rem;
}

p {
    font-family: 'News Cycle', sans-serif;
    color: #4D4C4C;
}

nav a {
    /*Links i navigationen/menulinjen*/
    text-decoration: none;
    /*Fjerner streg under link*/
    color: black;
    cursor: pointer;
}

nav a:hover {
    /*Hover på links i menuen*/
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    border: 1px solid #d7ccd0;
    text-align: center;
    padding: 1vw;
    width: 100vw;
}

footer p {
    margin: 0;
    font-family: 'News Cycle', sans-serif;
}

footer img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.hidden {
    /*Class .hidden tilføjes menuen for at den kan forsvinde når den er lukket*/
    visibility: hidden;
}

/*header og navigation*/

header {
    z-index: 2;
    /*Headeren placeres i bestemt niveau */
}

#logo {
    background-image: url(img/logogron.png);
    width: 120px;
    height: 51.36px;
    background-size: cover;
    /*Billedet fylder hele bredden*/
    position: absolute;
    /*Logoet placerer sig ift sig selv */
    top: 0;
    left: 0;
    margin: 2vw 5vw;
}

nav {
    /*Container til menu*/
    height: 10vh;
    background-color: white;
    width: 100vw;
    position: fixed;
    /* Navigationen placeres ovenpå sidens øvrige indhold */
    z-index: 2;
    /*Navigationen placeres i bestemt niveau */
    border-bottom: 2px solid #8DA187;

}

#menu {
    /*Container til menuknapper*/
    background-color: #8DA187;
    position: absolute;
    /*Menuen placerer sig ift sig selv*/
    top: 0;
    right: 0;
    width: 100vw;
    height: 50vh;
    padding: 10vw 0vw;
    display: flex;
    /*Menuen får flex så den kan flexe ovenpå hinanden*/
    flex-direction: column;
    align-items: flex-end;
    /*Menuknapper placeres i højre side*/
    position: fixed;
}

nav button {
    margin: 7vw 3vw 0 0;
    background: none;
    border: none;
    font-size: 5.4vw;
    font-family: 'News Cycle', sans-serif;
}

#menuknap {
    /*Knap til burgermenu*/
    margin: 2vw 5vw;
    font-size: 40px;
    z-index: 3;
    color: black;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;

}


/*forside.html*/

.content h1 {
    margin: 5vw;
}

.content p {
    margin: 5vw 10vw 5vw 5vw;
}

.content .button {
    margin: 0 0 40vw 5vw;
    font-size: 1rem;
}

/*parallax*/
/*Parallax effekten er lavet med kode lånt fra denne youtube-video: https://www.youtube.com/watch?v=ln5BWnYMSQA&fbclid=IwAR3IPSWGO1aiFqlAAogjcxlr0ZxX_-YSVGQWGqwGL-cOoToyZawSovLrmJM*/

#parallaxfill {
    height: 60vh;
    z-index: -1;
}

.parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    z-index: -1;
}

.parallax-wrapper::before {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/IMG_1086%20copy.jpg);
    background-size: cover;
    background-position: 30%;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.content {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    background: white;
}


/*Planter.html*/


#plantermain {
    /*Container-element for sidemenu*/
    padding: 100px 0 0 0;
}


#liste {
    /*Her indsættes json dataen*/
    display: grid;
    /*Dataen opstilles vha. grid*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*Fortæller antal kollonner og bredde på kolonner*/
    grid-gap: 1.5rem;
    /*Mellemrum mellem kolonnerne*/
    width: 60vw;
    margin: 1vw auto;
}

#liste .plante {
    /*Indhold fra data*/
    text-align: center;
    /*Indholde placeres centralt*/
    cursor: pointer;
    border: none;
}

#planteoversigt h2 {
    font-family: 'Shadows Into Light Two';
    font-weight: normal;
    color: black;
    font-size: 1.8rem;
}

#sidebar {
    /*Menu i siden*/
    position: sticky;
    /*Menuen sidder fast når man scroller*/
    top: 80px;
    left: 0px;
    display: flex;
    flex-direction: row;
    /*Menuenpunkterne flexer ved siden af hinanden*/
    width: 90vw;
    margin: auto;
}

.button {
    border: 2px solid #8DA187;
    font-family: 'News Cycle', sans-serif;
    background-color: white;
    color: grey;
    font-size: 2vw;
    cursor: pointer;
    margin: 0vw 0.2vw;
    padding: 10px;
    width: 50vw;

}

.button:hover {
    background-color: #8DA187;
    color: white;
}

.valgt {
    /*Klassen som bliver tilføjet knappen når den er blevet trykket på*/
    background-color: #8DA187;
    color: black;
}

/*Detaljeside*/

#detalje {
    /*Container til indhold*/
    padding: 80px 0 0 0;
    padding: 0;
}

#plantearticle {
    /*Container-elementet som skabelon for json dataen*/
    display: flex;
    flex-wrap: wrap;
    /*Gør det muligt at wrappe indeholdet ned under hinanden*/
    flex-direction: column;
    width: 85vw;
    margin: auto;
    padding: 70px 0 0 0;
}

#txt {
    /*Styrer udseenede af indhold*/
    flex-basis: 300px;
    /*Fordeling af plads til elementer*/
    flex-grow: 1;
}

#pic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*Gør at billederne forbliver ved siden af hinanden*/
    flex-basis: 300px;
    flex-grow: 1;
}

#img1,
#img2 {
    width: 150px;
    height: 200px;
    margin: 0 1vw 2vw 0;
}

.luk {
    /*Gør at man kan komme tilbage ved at trykke på knappen*/
    font-size: 2rem;
    background: none;
    border: none;
    position: absolute;
    top: 80px;
    cursor: pointer;
}

/* Bag planterne */

#om {
    /*Container til indehold/billeder og tekst*/
    display: flex;
    /*Gør at indholdet kan flexe*/
    flex-direction: row;
    flex-wrap: wrap;
    /*Gør at indholdet kan flexe under hinanden*/
    justify-content: center;
    /*Placerer indhold i midten*/
    margin-top: 20vw;


}

.person {
    /*Container til indhold om forskellige personer*/
    border: 1px solid #d7ccd0;
    width: 50vw;
    margin: 2vw;
    text-align: center;
    /*Indhold placeres i midten*/

}

.person img {
    width: 40vw;
    margin: 2vw;
}

.person p {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.2rem;

}



/* media queries */
/* media queries styre inholdet så det placere sig rigtig i forhold til skærmstørrelsen samt at udsendent ser rigtig ud*/
@media(min-width:600px) {

    /*Planter.html*/
    #sidebar {
        width: 80vw;

    }

    #logo {
        margin: 0vw 5vw;
    }

}

@media(min-width: 700px) {

    /*forside*/

    #logo {
        background-image: url(img/logogron.png);
        width: 150px;
        height: 64.2px;
        background-size: cover;
        /*position: absolute;*/
        margin: 0vw 2vw;
        top: 0;
        left: 0;

    }

    #menu {
        visibility: visible;
        margin-bottom: 0;
        background: none;
        padding: 0;
        display: block;
        text-align: right;
        height: 10vh;
        width: 50vw;
    }


    #menuknap {
        display: none;
    }

    nav button {
        display: inline;
        margin: 1rem;
        margin-left: 0;
        background: none;
        border: none;
        font-size: 1.1rem;
        font-family: 'News Cycle', sans-serif;

    }

    nav a {
        color: #8DA187;
    }

    .content h1 {
        font-size: 3vw;
        margin: 5vw 0 2vw 50vw;
    }

    .content p {
        text-align: left;
        margin: 0 18vw 2vw 50vw;
        font-family: 'News Cycle', sans-serif;

    }

    .content .button {
        margin: 0 0 5vw 50vw;
        width: auto;
    }


    /*detalje*/

    #pic {
        padding: 0px;
    }

    #img1,
    #img2 {
        width: 300px;
        height: 400px;
        margin: 0 1vw 2vw 0;
    }

    #plantearticle {
        width: 50vw;
        margin: auto;
    }

    /*Planter.html*/
    #sidebar {
        width: 70vw;

    }

    .button {
        font-size: 1.8vw;
    }

}

@media (min-width: 900px) {

    /*bag planterne*/

    #om {
        margin-top: 6vw;
    }

    .person {
        width: 25vw;
        margin: 2vw;
        text-align: center;

    }

    .person img {
        width: 20vw;
        margin: 2vw;
    }
}


@media (min-width: 1000px) {

    /*planteoversigten*/

    #plantermain {
        padding: 100px 0 0 0;
        margin: 0 8vw;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "sidebar liste liste liste"
    }


    #liste {
        grid-area: liste;
        width: 60vw;
        margin: auto;
    }

    #sidebar {
        position: fixed;
        top: 8vw;
        grid-area: sidebar;
        width: 20vw;
        margin: 0;
        flex-direction: column;
        left: 70px;
    }

    #sidebar button {
        width: 190px;
        margin: 10px;
        text-align: left;
        font-size: 1rem;
    }

    #sidebar button:hover {
        transform: scale(1.03);
        color: black;
    }

    #liste .plante:hover {
        transform: scale(1.02);
    }

}
