/*generelt*/

body {
    margin: 0;
    padding: 0;
    background: white;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    overflow: hidden;
}

img {
    width: 100%;
}

h1 {

    font-family: 'Shadows Into Light Two', cursive;
    color: #4D4C4C;
    font-weight: 200;
    font-size: 2rem;
}

h2 {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'News Cycle', sans-serif;
    color: #4D4C4C;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: white;
}

footer {
    background-color: #d7ccd0;
    text-align: center;
    padding: 1vw;
    width: 100vw;
}

footer p {
    margin: 0;
    font-family: 'News Cycle', sans-serif;
}

.hidden {
    visibility: hidden;
}

/*forside.html*/

.content h1 {
    margin: 5vw;
}

.content p {
    margin: 5vw 10vw 5vw 5vw;
}

#headerforside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo {
    background-image: url(img/logo.png);
    width: 30vw;
    height: 12vw;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5vw;
}


#menuknap {
    margin: 5vw;
    font-size: 30px;
    z-index: 1;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

}

#forsidenav button {
    display: flex;
    margin: 1vw;
    margin-left: 24vw;
    background: none;
    border: none;
    color: white;
    font-size: 5.4vw;
    font-family: 'News Cycle', sans-serif;


}

#menu {
    margin-bottom: 30vw;

}

/*parallax*/

.parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.parallax-wrapper::before {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/IMG_1086%20copy.jpg);
    background-size: cover;
    background-position: 30%;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.content {
    margin: 0 auto;
    padding: 50px;
    width: 100%;
    background: white;
}


@media(min-width: 700px) {

    #logo {
        background-image: url(img/logo.png);
        width: 15vw;
        height: 6vw;
        background-size: cover;
        position: absolute;
        margin: 1vw 0 0 2vw;
        top: 0;
        left: 0;

    }

    #menu {
        visibility: visible;
        margin-top: 30vw;
        margin-bottom: 0;
    }


    #menuknap {
        display: none;
    }

    #forsidenav button {
        display: inline-block;
        margin: 1vw;
        margin-left: 0;
        background: none;
        border: none;
        color: white;
        font-size: 2vw;
        font-family: 'News Cycle', sans-serif;

    }

    .content h1 {
        font-size: 3vw;
        margin-left: 40vw;
        margin-top: 5vw;
    }

    .content p {
        text-align: left;
        margin-left: 40vw;
        margin-right: 10vw;
        font-family: 'News Cycle', sans-serif;

    }

    #forsidenav {
        position: sticky;
    }


}

/*Planter.html*/

#planterheader {
    text-align: right;
    background-image: url(img/tr%C3%A6.jpg);
    background-size: cover;
    background-position: 100%;
    margin: 0;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;

}

#plantermain {
    padding: 60px 0 0 0;
}


#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    width: 80vw;
    margin: 1vw auto;
}

#liste .plante {
    text-align: center;
    cursor: pointer;
    border: none;
}

#planteoversigt h2 {
    font-family: 'Shadows Into Light Two';
    font-weight: normal;
    color: grey;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#sidebar button {
    background-color: #d7ccd0;
    border: none;
    font-family: 'News Cycle', sans-serif;
    color: grey;
    font-size: 1.3rem;
    margin: 0px;
    cursor: pointer;
    width: 300px;
    margin: 1vw auto;
    padding: 5px;
}

#sidebar button:active {
    color: white;
}

.valgt {
    color: red;
}

#planternav button {
    margin: 1vw;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'News Cycle', sans-serif;

}

#planterlogo {
    margin: 1vw;
    background-image: url(img/logo.png);
    width: 20vw;
    height: 8vw;
    background-size: cover;
    margin-left: 2vw;

}

@media (min-width: 900px) {
    #liste {
        width: 75vw;
    }

    #plantermain {
        padding: 140px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "sidebar liste liste liste liste"
    }

    #planterlogo {
        width: 10vw;
        height: 4vw;
    }

    #sidebar button {
        width: 230px;
    }


    #liste {
        grid-area: liste;
    }

    #sidebar {
        grid-area: sidebar;
    }


    #sidebar button {
        margin: 10px;
        text-align: left;
    }

    #sidebar button:hover {
        transform: scale(1.02);
        color: white;
    }

    #liste .plante:hover {
        transform: scale(1.02);
    }

}

/*Detaljeside*/

#detalje {
    padding: 80px 0 0 0;
}

#plantearticle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px;
}

#txt {
    flex-basis: 300px;
    flex-grow: 1;
}

#pic {
    flex-basis: 300px;
    flex-grow: 1;
}

.luk {
    font-size: 2rem;
    background: none;
    border: none;
}

@media (min-width: 700px) {

    #pic {
        padding: 60px;
    }

    #plantearticle {
        width: 75vw;
        margin: auto;
    }
}
