/*generelt*/

body {
    margin: 0;
    padding: 0;
    background: white;
}

img {
    width: 100%;
}

h1 {

    font-family: 'Shadows Into Light Two', cursive;
    color: #4D4C4C;
    font-weight: 200;
}

h2 {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    margin: 0;
}

p {
    font-family: 'News Cycle', sans-serif;
    color: #4D4C4C;
}

footer {
    background-color: #d7ccd0;
    text-align: center;
    padding: 1vw;
}

footer p {
    margin: 0;
    font-family: 'News Cycle', sans-serif;
}

.hidden {
    visibility: hidden;
}

/*forside.html*/

#velkommen h1 {
    margin: 5vw;
}

#velkommen p {
    margin: 5vw;
}

#splash {
    background-image: url(img/splash.jpg);
    background-size: 100%;
    width: 100vw;
    height: 70vw;
    background-position: 120%;


}

#headerforside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

#logo {
    margin: 3vw;
    background-image: url(img/logo.png);
    width: 20vw;
    height: 8vw;
    background-size: cover;
    margin-left: 2vw;

}



#menuknap {
    margin: 5vw;
    font-size: 30px;
    z-index: 1;
    color: white;
    cursor: pointer;

}

#forsidenav button {
    display: flex;
    margin: 1vw;
    margin-left: 24vw;
    background: none;
    border: none;
    color: white;
    font-size: 4vw;
    font-family: 'News Cycle', sans-serif;

}

#menu {
    margin-top: 20vw;

}

@media(min-width: 600px) {
    #splash {
        background-image: url(img/splash.jpg);
        width: 100vw;
        height: 40vw;
        background-size: cover;
        /*background-position: 80% 0%;*/
    }

    #logo {
        background-image: url(img/logo.png);
        width: 15vw;
        height: 6vw;
        background-size: cover;
        position: sticky;
        margin-left: 2vw;

    }

    #menu {
        visibility: visible;
        margin-top: 30vw;
    }


    #menuknap {
        display: none;
    }

    #forsidenav button {
        display: inline-block;
        margin: 1vw;
        margin-right: 5vw;
        background: none;
        border: none;
        color: white;
        font-size: 2vw;
        font-family: 'News Cycle', sans-serif;

    }

    #velkommen h1 {
        font-size: 3vw;
        margin-left: 50vw;
        margin-right: 40vw;
        margin-top: 5vw;
    }

    #velkommen p {
        text-align: left;
        margin-left: 50.5vw;
        font-family: 'News Cycle', sans-serif;

    }


}

/*Planter.html*/

#planterheader {
    text-align: right;
    background-image: url(img/splash.jpg);
    background-size: 100%;
    margin: 0;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;

}

#plantermain {
    padding: 60px 0 0 0;
}


#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    width: 80vw;
    margin: 1vw auto;
}

#liste .plante {
    text-align: center;
    cursor: pointer;
    border: none;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#sidebar button {
    background-color: #d7ccd0;
    border: none;
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    margin: 0px;
    cursor: pointer;
    width: 300px;
    margin: 1vw auto;
}

#sidebar button:active {
    color: white;
}

.valgt {
    background-color: blue;
}

#planternav button {
    display: flex;
    margin: 1vw;
    margin-left: 24vw;
    background: none;
    border: none;
    color: white;
    font-size: 4vw;
    font-family: 'News Cycle', sans-serif;

}

#planterlogo {
    margin: 1vw;
    background-image: url(img/logo.png);
    width: 20vw;
    height: 8vw;
    background-size: cover;
    margin-left: 2vw;

}

@media (min-width: 600px) {
    #menuknap {
        display: none;
        background-image: url(img/logo.png);
    }

    #planternav button {
        display: inline-block;
        margin: 1vw;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        font-family: 'News Cycle', sans-serif;

    }

    #planterlogo {
        margin: 1vw;
        background-image: url(img/logo.png);
        width: 20vw;
        height: 8vw;
        background-size: cover;
        margin-left: 2vw;

    }

    #liste {
        width: 75vw;
    }

    #plantermain {
        padding: 140px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "sidebar liste liste liste liste"
    }

    #sidebar button {
        width: 230px;
    }


    #liste {
        grid-area: liste;
    }

    #sidebar {
        grid-area: sidebar;
    }


    #sidebar button {
        margin: 10px;
        text-align: left;
    }

    #sidebar button:hover {
        transform: scale(1.02);
        color: white;
    }

    #liste .plante:hover {
        transform: scale(1.02);
    }

}

/*Detaljeside*/

#headerdetalje {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(min-width: 600) {
    .detalje {
        text-align: right;
        margin-top: 5vw;
        margin-right: 5vw;
        visibility: visible;

    }
}

#detaljenav button {
    margin: 1vw;
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
    font-family: 'News Cycle', sans-serif;

}
